
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

/* FONT FACE */
@font-face {
    font-family: 'Pathway Gothic One';
    src: url('fonts/pathwaygothicone-regular-webfont.eot');
    src: url('fonts/pathwaygothicone-regular-webfont.svg#pathway_gothic_oneregular') format('svg'),
    	 url('fonts/pathwaygothicone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pathwaygothicone-regular-webfont.woff') format('woff');
         /* url('fonts/pathwaygothicone-regular-webfont.ttf') format('truetype'), */
    font-weight: normal;
    font-style: normal;
}

/* BODY */


/* HEADINGS */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	/* font-family: 'Roboto', Helvetica, Arial, sans-serif; */
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

/* TWO-COLUMN CSS */
.outer-container.container {
	clear: left;
	float: left;
	width: 1173px;
	padding: 0px;
	overflow: hidden;
	background-color: #ef6a25;
}

.inner-container {
	float: left;
	width: 100%;
	position: relative;
	left: 250px;
	background-color: #fff;

}
#navigation {
	float: left;
	width: 250px;
	position: relative;
	left: -250px;
}

#content-well {
	float: left;
	position: relative;
	left: -250px;
	margin-bottom: 30px;
	overflow: hidden;
}

body.front #content-well {
	left: -295px;
}

/* LEFT COLUMN MENU */
#navigation.col-sm-3 {
	margin: 0px;
	padding: 0px;
	width: 250px;
	float: left;
}

.region.region-sidebar-first {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	background-color: #ef6a25;
	border: none;
	border-radius: 0px;
}

#logo {
	height: 134px;
	width: 270px;
	position: absolute;
	top: 20px;
	left: 0px;
	z-index: 10;
}

#block-superfish-1 {
	margin-top: 151px;
	width: 250px;
}

#block-superfish-1 .sf-vertical li:hover > ul,
#block-superfish-1 .sf-vertical li.sfHover > ul {
	left: 14.5em;
}

ul#superfish-1 * {
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	background-color: #ef6a25;
	color: #fff;
	letter-spacing: .2px;
}

ul#superfish-1 > li {
	padding-left: 14px;
	width: 250px;
}

ul#superfish-1 li:first-child {
	border-top: none;
}

ul#superfish-1 li:last-child {
	border-bottom: none;
}

ul#superfish-1 li {
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ea5d1e;
	border-top: 2px solid #f9753b;
}

ul#superfish-1 li a:after {
	content: '> ';
	float: right;
	margin-right: 10px;
}

ul#superfish-1 li.sf-no-children a:after {
	content: none;
}

div.interact {
	margin: 25px 26px;
}

a#donate-button, a#buy-tickets-register-button,
a#donate-button:hover, a#buy-tickets-register-button:hover,
.blue-button, .blue-button:hover,
.field-name-field-footer-link a, .field-name-field-footer-link a:hover,
.field-name-field-tickets-url a, .field-name-field-tickets-url a:hover,
.view .more-link a {
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	width: auto;
	display: block;
	text-align: center;
	padding: 5px 0px;
	font-size: 25px;
	text-decoration: none;
}

a#donate-button,
.blue-button,
.blue-button a,
.blue-button a:hover,
.field-name-field-footer-link a,
.field-name-field-tickets-url a,
.view .more-link a {
	background-color: #8cdde0;
	border-bottom: 1px solid #39b9be;
	text-shadow: 1px 1px 1px #39b9be;
	margin-bottom: 4px;
	color: #fff !important;
	text-decoration: none;
}

.small-button, .small-button a, .small-button:hover {
	text-decoration: none;
	color: #fff !important;
	width: 300px;
}

a#buy-tickets-register-button {
	background-color: #d75513;
	border-bottom: 1px #c14708;
	text-shadow: 1px 1px 1px #c14708;
}

div.newsletter {
	text-align: center;
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin-top: 23px;
	font-size: 20px;
}

div.newsletter input[type="text"] {
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	border: 3px solid #fff;
	background-color: transparent;
	margin-bottom: 4px;
	padding: 5px;
	color: #fff;
	font-size: 14px;
}

div.newsletter input[type="submit"] {
	border: 0px;
	color: #fff;
	width: 100%;
	background-color: #d75513;
	border-bottom: 1px #c14708;
	text-shadow: 1px 1px 1px #c14708;
	text-transform: uppercase;
	font-size: 25px;
}

div.social-media {
	text-align: center;
}

div.social-media a,
div.social-media a:hover {
	background-image: url(../images/social-icons.png);
	height: 39px;
	width: 39px;
	display: block;
	float: left;
	margin-right: 10px;
	text-decoration: none;

	background-repeat: no-repeat;
}

div.social-media a.facebook {
	background-position: -4px -3px;
}

div.social-media a.twitter {
	background-position: -55px -3px;
}

div.social-media a.vimeo {
	background-position: -157px -3px;
}

/* PANES */
.panels-flexible-column.panels-flexible-column-last {
	padding-right: none !important;
}

.panels-flexible-6 .panels-flexible-column {
	padding-right: 30px;
}

.cf-box {
	width: 33%;
	float: left;
	margin-right: 2%;
}

.pane-class-sessions-adult-classes-embed,
.pane-calendar-events-embed,
.fieldable-panels-pane,
.cf-box {
	border: 2px solid #8cdde0;
	margin: 2em 0.5em;
}

.pane-fpid-25 .fieldable-panels-pane {
	border: none;
	margin: none;
}

.pane-title {
	text-transform: uppercase;
	color: #ef6a25;
}


.fieldable-panels-pane .field-name-field-pane-title,
.pane-class-sessions-adult-classes-embed .pane-title,
.pane-calendar-events-embed .pane-title,
.cf-box-title {
	margin: 0.25em 0.5em;
}

.fieldable-panels-pane .field-name-field-body,
.pane-calendar-events-embed .view-content,
.cf-box-body {
	margin: 0 1em;
}

.fieldable-panels-pane .field-name-field-image,
.cf-box-image-wrapper {
	width: 100%;
}

.fieldable-panels-pane .field-name-field-image img,
.cf-box-image {
	margin-left: -17px;
	margin-top: -24px;
}

.cf-box-image img {
	width: 100%;
	height: auto;
}

.cf-box-title,
.cf-box-title a,
.fieldable-panels-pane .field-name-field-pane-title {
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ef6a25;
	font-size: 30px;
	text-transform: uppercase;
}

.cf-box-link,
.fieldable-panels-pane .field-name-field-internal-link {
	background-color: #8cdde0;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: -15px;
	text-align: center;
	width: 100%;
	padding: 5px 0px;
	border-bottom: 1px solid #39b9be;
}

.cf-box-link a,
.cf-box-link a:hover,
.fieldable-panels-pane .field-name-field-internal-link a,
.fieldable-panels-pane .field-name-field-internal-link a:hover {
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.pane-calendar-events-embed .pane-content .more-link,
.fieldable-panels-pane .field-name-field-footer-link a {
	margin: 24px -17px -24px 17px;
}

.cf-box-link a:before,
.fieldable-panels-pane .field-name-field-internal-link a:before {
	content: "+ ";
}



/* MAIN CONTENT */
#content-well {
	width: 922px;
	padding-right: 0px;
}

.clearboth { clear: both; }

.row {
	margin: 0px;
}

.region-content {
	margin-left: 20px;
	padding-top: 10px;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #475455;
	font-size: 13px;
}

.region-content a {
	color: #ef6a25;
}


.panel-pane img {
	width: inherit;
	max-width: 100%;
	height: auto;
}

.view-display-id-events_embed .views-row {
	margin-bottom: 1em;
}

.label {
	text-transform: lowercase;
}


/* HOMEPAGE SLIDESHOW */

#homepage-slideshow,
#screenings-carousel {
	margin-left: -35px;
	width: 923px;
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	clear: both;
	margin-bottom: 75px;
}

#homepage-slideshow .views-field-field-carousel-image,
#homepage-slideshow .views-field-field-carousel-image *,
#screenings-carousel .views-field-field-featured-image,
#screenings-carousel .views-field-field-featured-image * {
	z-index: -10000;
}

#homepage-slideshow .views-field-title,
#screenings-carousel .views-field-title {
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #8cdde0;
	float: left;
	font-size: 52px;
	padding: 3px 12px;
	margin: 0;
	position: relative;
}

#homepage-slideshow .views-field-title a,
#homepage-slideshow .views-field-title a:hover,
#screenings-carousel .views-field-title a,
#screenings-carousel .views-field-title a:hover {
	color: #fff;
	text-decoration: none;
}

#homepage-slideshow .views-field-field-secondary-copy,
#screenings-carousel .views-field-field-date-time {
	float: left;
	padding: 5px 10px 8px 30px;
	background-color: #ef6a25;
	color: #fff;
	font-size: 40px;
	margin-top: 15px;
	margin-left: -17px;
	padding-right: 10px;
}

#homepage-slideshow .views-field-field-secondary-copy a,
#homepage-slideshow .views-field-field-secondary-copy a:hover,
#screenings-carousel .views-field-field-date-time a,
#screenings-carousel .views-field-field-date-time a:hover {
	color: #fff;
	text-decoration: none;
}

#homepage-slideshow .homepage_slideshow_titles_outer_wrapper,
#screenings-carousel .view_screenings_carousel_titles_outer_wrapper {
	position: absolute;
	top: 285px;
	left: 20px;
}

/* FOOTER */
footer.footer.container {
	border: none;
	padding: 0px;
	margin: 0px;
	background-color: #3E4346;
	width: 1173px;
}

div.sponsors-header {
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #EAEEEF;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 21px;
}

div.view.view-sponsors.view-display-id-block {
	width: 80%;
	margin: 20px auto 20px auto;
}

div.view.view-sponsors.view-display-id-block .views-row {
	width: 20%;
	float: left;
	padding: 0px 15px 0px;
}

div.view.view-sponsors.view-display-id-block .views-row img {
	width: inherit;
	max-width: 100%;
	height: auto;
}

#block-menu-block-1 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.menu-block-1.menu-name-main-menu * {
	padding: 0px;
	margin: 0px;
	display: block;
}

.menu-block-1.menu-name-main-menu > ul {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.menu-block-1.menu-name-main-menu > ul > li {
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #94DDE4;
	font-size: 16px;
	width: 20%;
	float: left;
	padding-right: 30px;
	margin-bottom: 30px;
	/* border: 1px dotted orange; */
}

.menu-block-1.menu-name-main-menu > ul > li a,
.menu-block-1.menu-name-main-menu > ul > li a:hover {
	text-decoration: none;
	color: #94DDE4;
}

.menu-block-1.menu-name-main-menu > ul > li > ul {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	color: #ddd;
	font-size: 11px;
	margin-top: 6px;
	/* border: 1px dotted green; */
}

.menu-block-1.menu-name-main-menu > ul > li > ul a,
.menu-block-1.menu-name-main-menu > ul > li > ul a:hover {
	text-decoration: none;
	color: #ddd;
}

.menu-block-1.menu-name-main-menu > ul > li > ul > li > ul {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	color: #999;
	padding-left: 10px;
}

/* SUBPAGES */

body.not-front .content-header {
	background-color: #8cdde0;
	padding-left: 50px;
	padding-bottom: 40px;
	min-height: 153px;
}

body.not-front #content-well {
	padding: 0px;
}

h1.page-header {
	border: 0px;
	padding: 0px 0px 0px 15px;
	margin: 20px 0px 0px 0px;
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 65px;
	text-transform: uppercase;
}

h2.director {
	border: 0px;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	color: #fff;
	font-size: 15px;
}

.breadcrumb {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	background-color: transparent;
}

.breadcrumb .breadcrumb-inner {
	padding: 15px 10px 10px;
	background-color: #fff;
}

.breadcrumb .breadcrumb-inner,
.breadcrumb .breadcrumb-inner *,
.breadcrumb .breadcrumb-inner a {
	font-size: 11px;
	color: #999;
	text-decoration: none;
}

.region.region-content {
	background-color: #fff;
	border-radius: 0px;
	padding: 20px 0px 0px 20px;
	margin: -9px 55px 0px 45px;
}

body.front .region.region-content {
	margin-right: 0px;
	padding-right: 0px;
}

/* SCREENING */

body.node-type-screening .group-right {
	padding-left: 15px;
}

body.node-type-screening .group-footer {
	padding-top: 50px;
}

#screening-video {
	width: 488px;
	float: left;
}

#screening-details {
	width: 309px;
	float: left;
}

#screening-details .field {
	font-size: .9em;
	color: #999;
	padding-left: 35px;
	padding-bottom: 17px;
}

#screening-details .field.screening-details-footer {
	color: #000;
	font-weight: bold;
	font-style: italic;
}

#screening-dates {
	width: 100%;
	float: left;
	font-size: .9em;
	color: #999;
	margin-top: 80px;
}

#screening-dates .field-collection-container {
	border-bottom: none;
}

.field-name-field-screening-dates .field-item, .field-name-field-location-date-tickets-url .field-item {
	border: 1px solid #8cdde0;
	padding-top: 25px;
	padding-right: 25px;
	width: 42%;
	float: left;
}

.field-name-field-screening-dates .field-item.even, .field-name-field-location-date-tickets-url .field-item.even {
	margin-left: 37px;
}

.field-name-field-screening-dates .field-item.odd, .field-name-field-location-date-tickets-url .field-item.odd {
	margin-left: 75px;
}


.field-name-field-screening-dates .screening-date-wrapper, .field-name-field-location-date-tickets-url .location-date-tickets-url-wrapper {
	position: relative;
}

.field-name-field-screening-dates .screening-date, .field-name-field-location-date-tickets-url .location-date-tickets-url-date  {
	width: 130px;
	height: 130px;
	background-color: #ef6a25;
	color: #fff;
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: -45px 25px 18px -25px;
	text-align: center;
	float: left;
}

.field-name-field-screening-dates.field-type-field-collection .field-collection-view, .field-name-field-location-date-tickets-url.field-type-field-collection .field-collection-view {
	margin: 0px;
	padding: 0px;
}

.field-name-field-screening-dates .screening-location, .field-name-field-location-date-tickets-url .location-date-tickets-url-location {
	margin-bottom: 30px;
}

.field-name-field-screening-dates .screening-date .month, .field-name-field-location-date-tickets-url .location-date-tickets-url-date .month {
	font-size: 3em;
	text-transform: uppercase;
	margin-top: 4px;
}
.field-name-field-screening-dates .screening-date .day, .field-name-field-location-date-tickets-url .location-date-tickets-url-date .day {
	font-size: 6em;
	margin-top: -31px;
	margin-left: -3px;
}

.field-name-field-screening-dates .screening-tickets a, .field-name-field-location-date-tickets-url .location-date-tickets-url-tickets a {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: -17px;
	margin-right: -47px;
	padding: 4px 51px;
}

/* CALENDAR */
body.page-calendar .calendar-calendar .month-view thead * {
	border: 1px solid #ef6a25;
}
body.page-calendar .calendar-calendar .month-view th.days {
	background-color: #ef6a25;
	color: #fff;
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}

body.page-calendar .calendar-calendar tbody td {
	border-width: 1px 1px 1px 1px;
	border-color: #8cdde0;
}

body.page-calendar .calendar-calendar .month-view .full td.date-box.today {
	border-width: 1px 1px 0px 1px;
	border-color: #8cdde0
}

body.page-calendar .calendar-calendar .month-view .full td.today,
body.page-calendar .calendar-calendar .month-view .full td.today * {
	background-color: #8cdde0;
	color: #fff;
}

body.page-calendar .calendar-calendar .month-view .full tr td.today {
	border-bottom: 1px solid #8cdde0;
	border-left: 1px solid #8cdde0;
	border-right: 1px solid #8cdde0;
}

body.page-calendar .calendar-calendar td.empty {
	color: #999;
}

body.page-calendar .calendar-calendar td .inner {
	float: left;
	font-size: 0.9em;
}

.view-calendar .pager {
	margin: 0px;
}

.view-calendar .pager * {
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: none !important;
	border: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
}

.view-calendar .date-heading h3 {
	float: left;
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view-calendar .date-nav {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.view-id-calendar.view-display-id-panel_pane_2 {

}

/* VIEW */
.view-sponsored-projects.view-id-sponsored_projects .views-field-field-featured-image,.view-cdmpf-recipients .views-field-field-featured-image {
	float: left;
	margin-right: 15px;
}

/*
.view-sponsored-projects.view-id-sponsored_projects .views-field-field-body,
.view-sponsored-projects.view-id-sponsored_projects .views-field-field-video {
	float: left;
	padding-left: 300px;
}
*/

div.view-sponsored-projects.view-id-sponsored_projects div.views-field.views-field-field-video, div.view-cdmpf-recipients div.views-field.views-field-field-video {
	width: 240px;
	float: left;
	margin-right: 15px;
}

/* --------------------- =RPJD --------------------- */

.view-sponsored-projects.view-id-sponsored_projects table.views-view-grid td, .view-cdmpf-recipients table.views-view-grid td {
	padding-bottom: 15px;
}

.view-sponsored-projects tr, .view-cdmpf-recipients tr {
	border-bottom: solid 1px #A9A9A9;
}

.view-sponsored-projects tr.row-last, .view-cdmpf-recipients tr.row-last {
	border-bottom: none;
}

.view-sponsored-projects .views-field-field-donation-snippet {
	float: right;
}

.node-class .group-header {
	margin-bottom: 2em;
}

.group-left { padding-right: 1em; }
.group-right { padding-left: 1em; }

.node-class .field,
.node-sponsored-project .field,
.node-class-session .field-label-above {
	padding-top: 0.5em;
}

.view-display-id-block_upcoming_sessions .views-row {
	padding: 1.5em inherit;
	border-bottom: solid 1px #a9a9a9;
}

.view-display-id-block_upcoming_sessions .views-row-first {
	padding-top: 0;
}

.view-display-id-block_upcoming_sessions .views-row-last {
	border-bottom: none;
}

.node-media-fund-recipient .group-left .field {
	margin-bottom: 2em;
}

.node-screening .group-header {
	margin-bottom: 1em;
}

/* --------------------- =RPJD end --------------------- */

.view-id-classes .views-field-field-featured-image {
	float: left;
	margin-right: 15px;
}
.views-view-grid td {
	vertical-align: top;
}

.views-view-grid.cols-3 td {
	width: 30%;
	padding-right: 20px;
}

.views-view-grid.cols-4 td {
	width: 22%;
	padding-right: 10px;
}

.views-view-grid td img {
	max-width: 100%;
	height: auto;
}

/* -------------------------------------------------------------------------------------------------JFF styles */

.faq {
	counter-reset: my-badass-counter;
}
.faq dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
}

.faq {
	counter-reset: my-badass-counter;
}
.faq dt {
	position: relative;
	font: bold 13px ;
	padding: 10px 0px 8px 0px;
}
.faq dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	position: absolute;
	left: 0;
	top: 0;
	font: bold 15px/1 Sans-Serif;
	background-color:#8FDFE2;
	padding: 10px 13px;
	border-radius: 100px;
  color:white;
}
.faq dd {
	margin: 0px 0px 0px 0px;
}
.faq dt, .faq dd {
	padding-left: 55px;
}

.pane-block-9{
	
	margin-left:10px;
	
}
/*this is for the offset readmore bottom bluebutton effect	*/
		#offset {
			padding-left:20px;
			padding-bottom:20px;
		}
		
		.blue-button, .field-name-field-footer-link a {
			margin-left:15px;
			margin-right:-15px;
			margin-top:20px;
			margin-bottom:-20px;
		}

		.group-cf-date-box .field-name-field-tickets-url a {
			float: right;
			width: 200px;
			margin-left:15px;
			margin-right:-15px;
			margin-top:-20px;
			margin-bottom:-20px;
		}

	   .toppad {
		   padding-top:20px;
		   
	   }
	   /*this is for stripping box styles off off of adult classes $ workshop page	*/
	.no-image img{
		display:none;
	}
	 
	 .no-image div {
		 border:none;
		}
		  
		  .no-image .field-type-link-field div{
			 display:none;
		  }





	.panels-flexible-row, .panels-flexible-row-7-main-row panels-flexible-row-first, .head-stretch img{
		width:100%;
		height:100%;
	}
 
 
 
    
	#no-border-list-style {
		border:none;
		
	}
	
	 #no-border-list-style ul {
		 
		 list-style-type: none;
		
	
		
		 
	 }
	 
	
 .pad{
margin-left:50px;
	
	 }


	.date-display-single  {
		font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-decoration:bold;
		font-weight:400;
		/* font-size:15px; */

	}
	/*--------------------------------------------------------------------this is for the page Adult classes -------------------------------*/
	.pane-class-sessions-adult-classes-embed .views-row .date-display-single {
	
				background-color: #ef6a25;
				color: #fff;
				font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
				padding:2px 2px 0px 2px;	
				margin-left: -55px ;
		
	}
	
.pane-class-sessions-adult-classes-embed .views-row .field-content a{
				float:right;
		
	}
	
	
	
	/*-------------------END END-------this is for the page Adult classes -------------------------------*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*--------------------------------------------------------------------this is for the page YOUTH classes -------------------------------*/
	
.pane-class-sessions-panel-pane-2 .views-row .date-display-single{
				background-color: #ef6a25;
				color: #fff;
				padding:2px 2px 0px 2px;	
			     margin-left:-75px;
				 float:left;
			
			
				
		        
	}	
	
	



     .youthlist{
	padding-right:0px;
	  list-style-type: none;
	margin-left:40px;
	
}
	
	
	
	
	
	
	
	
	
	
	
	/*---------------END END END---------------this is for the page YOUTH classes -------------------------------*/


.group-cf-date-box,
.field-collection-item-field-screening-dates {
	position: relative;
	border: 2px solid #8cdde0;
	margin: 50px 22px;
	clear: both;
}

.group-cf-date-box .field-name-field-date-time,
.field-collection-item-field-screening-dates .screening-date-wrapper {
	width: 130px;
	height: 130px;
	background-color: #ef6a25;
	color: #fff;
	font-family: 'Pathway Gothic One', "Futura-CondensedMedium", "HelveticaNeue-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: -45px 25px 18px -25px;
	text-align: center;
	float: left;
}

.group-cf-date-box .field-name-field-location {
	margin-top: 20px;
	margin-bottom: 30px;
}

.group-cf-date-box .bm,
.screening-date .month {
	font-size: 3em;
	text-transform: uppercase;
	margin-top: -5px;
}
.cf-date-box .cf-date-day,
.group-cf-date-box .bd,
.screening-date .day {
	font-size: 6em;
	margin-top: -40px;
	margin-left: -3px;
}

.cf-date-box .cf-date-box-tickets a {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: -17px;
	margin-right: -47px;
	padding: 4px 51px;
}
/* END JFF styles */
